<section id="about" class="about-section pt-page">
    <div class="section-container">
        <!--Page Heading-->
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-user"></i></span>
            <h2>About Me.</h2>
        </div>

        <!-- About Info Row Start-->
        <div class="row about mb-70">

            <div class="col-lg-8">
                <!--Personal Intro-->
                <h3 class="mb-20">Software Engineer </h3>
                <p> Hello , I'm Ramesh Kumar Sah ,Looking for an opportunity in field of Software Development and
                    Cloud computing Industry. I'm motivated software professional with a strong foundation in Java,
                    Python, C#,.NET, Data Analysis, JavaScript, HTML, CSS, Bootstrap, AWS Cloud, CCNA Networking,
                    DevOps, CEH, and IT Technician roles.<br> With 1 year of experience, I have successfully developed and
                    implemented a wide range of software solutions, driving operational efficiency and delivering
                    value to clients. With a strong grasp of cloud computing principles and DevOps, I have successfully deployed
                    and managed applications(CI/CD) in AWS  and github. . With CCNA certification , I am capable of designing, configuring, and
                    troubleshooting intricate network infrastructures. With CEH certification, I assesses and
                    enhances system security, protecting critical information assets.<br/>
                    As an IT Technician, I am skilled in hardware and
                    software troubleshooting, system administration, and network support. Passionate about
                    staying at the forefront of industry trends, I actively engages in continuous learning and
                    professional development.
                    <br>
                    <br>
                    If you are searching for a driven and versatile software professional
                    with a diverse skill set, I invite you to connect. Let's collaborate on developing innovative
                    software solutions that drive business growth and exceed client expectations, while ensuring
                    efficiency, security, and seamless user experiences.</p>
                <!--Signature Image-->
                <div class="signature mt-20">
                    <img src="static/img/signature-black.png" alt="">
                </div>
            </div>

            <!--Personal Info-->
            <div class="col-lg-4">
                <div class="about-info">
                    <h3 class="mb-20">Personal Information</h3>
                    <ul>
                        <li><span class="title">Name</span><span class="value">Ramesh Kumar Sah </span></li>
                        <li><span class="title">Age</span><span class="value">22 Years</span></li>
                        <li><span class="title">Residence</span><span class="value">Kathmandu , Nepal</span></li>
                        <li><span class="title">Address</span><span class="value">Balkhu </span></li>
                        <li><span class="title">Email</span><span class="value">rsah3798@gmail.com</span></li>
                        <li><span class="title">Phone</span><span class="value">(+977) 9862981898</span></li>
                        <li><span class="title">Freelance</span><span class="value">Available</span></li>
                        <li><span class="title">Open To Work</span><span class="value">Available</span></li>
                    </ul>
                    <div class="resume-button mt-30">
                        <a class="btn-main" href="https://drive.google.com/file/d/1FNL6T4YV7UPu30MJ4zwcqwUW5fIqTiSI/view?usp=drive_link">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Info Row End-->

        <!--Services Row Start-->
        <div class="row services mb-30">
            <div class="col-md-12">
                <div class="subheading">
                    <h3>Services</h3>
                </div>
            </div>

            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-laptop"></i></div>
                    <h4>Web Development</h4>
                    <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                </div>
            </div>
            
           

            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-eye"></i></div>
                    <h4>Web Design</h4>
                    <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-laptop"></i></div>
                    <h4>Android Development </h4>
                    <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                </div>
            </div>

            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-laptop-phone"></i></div>
                    <h4>Responsive Design</h4>
                    <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-laptop"></i></div>
                    <h4>Data Analysis</h4>
                    <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                </div>
            </div>

            <!--Service Item-->
            <div class="col-lg-3 col-sm-6">
                <div class="service-item">
                    <div class="icon"><i class="lnr lnr-camera"></i></div>
                    <h4>Photography</h4>
                    <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                </div>
            </div>
        </div>
        <!--Services Row End-->

        <!--Clients Row Start-->
        <div class="row clients mb-70">
            <div class="col-md-12">
                <div class="subheading">
                    <h3>Clients</h3>
                </div>
            </div>

            <div class="owl-carousel owl-theme">

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-01.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-02.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-03.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-04.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-05.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-06.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-07.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-08.png" alt="">
                    </a>
                </div>

                <!--Client Logo-->
                <div class="client-logo">
                    <a href="#">
                        <img src="static/img/clients/client-09.png" alt="">
                    </a>
                </div>

            </div>
        </div>
        <!--Clients Row End-->

        {% comment %} <!--Testimonials Row Start-->
        <div class="row testimonials mb-50">
            <div class="col-md-12">
                <div class="subheading">
                    <h3>Testimonials</h3>
                </div>
                <div class="owl-carousel owl-theme">

                    <!--Testimonail Item-->
                    <div class="testimonial-item">
                        <div class="testimonial-content">
                            <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.</p>
                        </div>
                        <div class="testimonial-meta">
                            <img src="static/img/testimonials/author-1.jpg" alt="">
                            <div class="meta-info">
                                <h4>Kate Fox</h4>
                                <p>Digital Marketing Executive</p>
                            </div>
                        </div>
                    </div>

                    <!--Testimonail Item-->
                    <div class="testimonial-item">
                        <div class="testimonial-content">
                            <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.</p>
                        </div>
                        <div class="testimonial-meta">
                            <img src="static/img/testimonials/author-2.jpg" alt="">
                            <div class="meta-info">
                                <h4>Emma Jones</h4>
                                <p>Creative Director</p>
                            </div>
                        </div>
                    </div>

                    <!--Testimonail Item-->
                    <div class="testimonial-item">
                        <div class="testimonial-content">
                            <p>Ipsum ab necessitatibus numquam vitae quis. Nobis nostrum deserunt suscipit eos fugit. Consectetur dolorum temporibus facilis impedit exercitationem dignissimos.</p>
                        </div>
                        <div class="testimonial-meta">
                            <img src="static/img/testimonials/author-3.jpg" alt="">
                            <div class="meta-info">
                                <h4>Jack Smith</h4>
                                <p>Marketing Director</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Testimonials Row End-->

        </div> {% endcomment %}
    </div>
</section>