<header>
    <div class="header-content">

        <!--Mobile Header-->
        <div class="header-mobile">
            <a class="header-toggle"><i class="fas fa-bars"></i></a>
            <h2>Ramesh Kumar Sah</h2>
        </div>

        <!--Main Header-->
        <div class="header-main" data-simplebar>
            <div class="image-container">
                <h2 class="header-name">Ramesh Sah</h2>
                <img src="static/img/profile-img.jpg" alt="profile-pic">
            </div>

            <!--Nav Menus-->
            <nav class="nav-menu">
                <ul>
                    <li><a href="{% url 'home' %}" class="pt-link active"><span class="nav-menu-icon"><i class="lnr lnr-home"></i></span>Home </a> </li>
                    <li><a href="#about" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-user"></i></span>About Me</a></li>
                    <li><a href="#resume" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-license"></i></span>Resume</a></li>
                    <li><a href="#portfolio" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-briefcase"></i></span>Portfolio</a></li>
                    <li><a href="#blog" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-book"></i></span>Blog</a></li>
                    <li><a href="#contact" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-envelope"></i></span>Contact</a></li>
                </ul>
            </nav>

            <!--Nav Footer-->
            <div class="nav-footer">
                <!--Social Links-->
                <ul class="social">
                    <li><a href="https://www.linkedin.com/in/ramesh-kumar-sah-42b09b224/"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/ramesh-sah/"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100014911413610"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/20841377/ramesh-kumar-sah"><i class="fab fa-stack-overflow"></i></a></li>
                    <li><a href="https://twitter.com/rsah3798"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="https://www.instagram.com/rsah3798/"><i class="fab fa-instagram"></i></a></li>

                </ul>
                <!--Copyright Text-->
                <div class="copy">
                    <p>2021 &copy; Ramesh Kumar Sah<br>All Right Reserved.</p>
                </div>
            </div>

        </div>
    </div>
</header>