<section id="portfolio" class="portfolio-section pt-page">
    <div class="section-container">

        <!--Page Heading-->
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-briefcase"></i></span>
            <h2>Portfolio.</h2>
        </div>

        <div class="row">
            <!--Portfolio Filter-->
            <div class="col-md-12 portfolio-filter text-center">
                <ul>
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".brand">Brand</li>
                    <li data-filter=".design">Design</li>
                    <li data-filter=".graphic">Graphic</li>
                </ul>
            </div>
        </div>

        <!--Portfolio Items-->
        <div class="row portfolio-items mb-50">

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 brand graphic">
                <a class="image-link" href="static/img/portfolio/img-1.jpg">
                    <figure>
                        <img src="static/img/portfolio/img-1.jpg" alt="">
                        <figcaption>
                            <h4>Book Design</h4>
                            <p>Graphic</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 design">
                <a class='ajax-link' href='single-work.html'>
                    <figure>
                        <img src="static/img/portfolio/img-2.jpg" alt="">
                        <figcaption>
                            <h4>Notepad Design</h4>
                            <p>Design</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 design graphic">
                <a class="video-link" href="https://www.youtube.com/watch?v=k_okcNVZqqI">
                    <figure>
                        <img src="static/img/portfolio/img-3.jpg" alt="">
                        <figcaption>
                            <h4>Creative Cup</h4>
                            <p>Graphic</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 design">
                <a class="image-link" href="static/img/portfolio/img-4.jpg">
                    <figure>
                        <img src="static/img/portfolio/img-4.jpg" alt="">
                        <figcaption>
                            <h4>Business Card</h4>
                            <p>Design</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 brand">
                <a class='ajax-link' href='single-work.html'>
                    <figure>
                        <img src="static/img/portfolio/img-5.jpg" alt="">
                        <figcaption>
                            <h4>Back Pack</h4>
                            <p>Brand</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 design">
                <a class='ajax-link' href='single-work.html'>
                    <figure>
                        <img src="static/img/portfolio/img-6.jpg" alt="">
                        <figcaption>
                            <h4>Door Hangar</h4>
                            <p>Design</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 graphic">
                <a class="image-link" href="static/img/portfolio/img-7.jpg">
                    <figure>
                        <img src="static/img/portfolio/img-7.jpg" alt="">
                        <figcaption>
                            <h4>Notepad Design</h4>
                            <p>graphic</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 brand">
                <a class="image-link" href="static/img/portfolio/img-8.jpg">
                    <figure>
                        <img src="static/img/portfolio/img-8.jpg" alt="">
                        <figcaption>
                            <h4>Creative Flyer</h4>
                            <p>Brand</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 brand">
                <a class="video-link" href="https://www.youtube.com/watch?v=k_okcNVZqqI">
                    <figure>
                        <img src="static/img/portfolio/img-9.jpg" alt="">
                        <figcaption>
                            <h4>Mobile App</h4>
                            <p>Brand</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 graphic">
                <a class="image-link" href="static/img/portfolio/img-10.jpg">
                    <figure>
                        <img src="static/img/portfolio/img-10.jpg" alt="">
                        <figcaption>
                            <h4>Cup Design</h4>
                            <p>Graphic</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <!--Portfolio Item-->
            <div class="item col-lg-4 col-sm-6 brand graphic">
                <a class='ajax-link' href='single-work.html'>
                    <figure>
                        <img src="static/img/portfolio/img-11.jpg" alt="">
                        <figcaption>
                            <h4>Creative Box</h4>
                            <p>brand</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

        </div>
    </div>
</section>