<section id="resume" class="resume-section pt-page">
    <div class="section-container">
        <div class="page-heading">
            <span class="icon"><i class="lnr lnr-license"></i></span>
            <h2>My Resume.</h2>
        </div>

        <!--Education & Experience Row Start-->
        <div class="row mb-20">

            <!--Experience Column Start-->
            <div class="col-lg-">
                <div class="subheading">
                    <h3 style="background:blue;">Experience</h3>
                </div>
                <ul class="experience">

                    <!--Experience Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Python Developer with Django - Intern</h4>
                            <h5>E-Prabidhi Pvt. Ltd.</h5>
                            <p class="info">
                                I work as a proficient Python developer with expertise in the Django framework. I work collaboratively with stakeholders and fellow developers, identifying and addressing bottlenecks and software bugs. My focus on quality extends to creating comprehensive unit tests and ensuring platform security. I prioritize detailed documentation to provide valuable insights. Additionally, my knowledge of front-end languages enables seamless integration with back-end components, resulting in user-friendly applications. I am committed to delivering innovative and excellent solutions for complex development challenges, consistently exceeding expectations.
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2022 May</span>
                            <span class="from">2022 Dec</span>
                        </span>
                    </li>

                    <!--Experience Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Full Stack Web Developer</h4>
                            <h5>Easy Software </h5>
                            <p class="info">
                                Worked on over 10 advertising projects with the marketing team, focusing on clean code. Managed server-side components, ensured high-performance app deployment, and integrated logic into user-facing elements. Prioritized data security, optimized database and front-end requests, and implemented data storage solutions. Conducted diagnostics, resolved bugs, and provided user support. Maintained detailed software development records and prepared project reports.
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2023</span>
                            <span class="from">Present</span>
                        </span>
                    </li>

                   

                </ul>
            </div>
            <!--Experience Column End-->
            <br>
            <br>

            <!--Education Column Start-->
            <div class="col-lg-">
                <div class="subheading">
                    <h3 style="background:blue; ">Education & Certification</h3>
                </div>

                <ul class="education">

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Bechelor of Science in Computer Science & Software Engineering</h4>
                            <h5>University Of Bedfordshire(UK)</h5>
                            <p class="info">
                                Student At Patan College For Professional Studies(Kupondole, Lalitpur) - PCPS 
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2021</span>
                            <span class="from">2024</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Shikshadeep Higher Secondary School (Biratnager, Morang)</h4>
                            <h5>National Examination Board(NEB)</h5>
                            <h6>High School / +2 / Intermediate</h6>
                            <p class="info">
                                Stream : Computer Science with Extra Math
                                <br>
                                Passout with 2.93 GPA in Aggregrate

                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2019</span>
                            <span class="from">2021</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>AWS Cloud Foundation</h4>
                            <h5>AWS Academy</h5>
                            <p class="info">
                            Credential Link:- <a href="https://www.credly.com/badges/0f9c0a77-8a52-47c9-ada5-714f225c52b2/linked_in_profile">https://www.credly.com/badges/0f9c0a77-8a52-47c9-ada5-714f225c52b2/linked_in_profile</a>
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2022</span>
                            <span class="from">2022</span>
                        </span>
                    </li>
                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>DevOps</h4>
                            <h5>IBM Coursera</h5>
                            <p class="info">
                            Credential Link:- <a href="https://www.coursera.org/account/accomplishments/verify/ZGTDH9LD539Y?"> https://www.coursera.org/account/accomplishments/verify/ZGTDH9LD539Y?</a>
                            </p>
                        </div>
                        <span class="year">
                            <span class="to">2022</span>
                            <span class="from">2023</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>Object Oriented Programming with Java</h4>
                            <h5>LearnQuest Coursera</h5>
                            <p class="info">
                            Credential Link:- <a href="https://www.coursera.org/account/accomplishments/verify/S5JUSJFQ7UXU?"> https://www.coursera.org/account/accomplishments/verify/S5JUSJFQ7UXU?</a>
                            </p>
                        </div>
                        <span class="year">
                            <span class="to"></span>
                            <span class="from">2023</span>
                        </span>
                    </li>

                    <!--Education Item-->
                    <li>
                        <span class="line-left"></span>
                        <div class="content">
                            <h4>CCNA</h4>
                            <h5>Netacad Academy(Cisco)</h5>
                            <p class="info">
                            Credential Link:- <a href=""> Inprogress</a>
                            </p>
                        </div>
                        <span class="year">
                            <span class="to"></span>
                            <span class="from">2022</span>
                        </span>
                    </li>

                    

                </ul>
            </div>
            <!--Education Column End-->

        </div>
        <!--Education & Experience Row End-->


        <!--Skills Row Start-->
        <div class="row">

            <!--Design Skills Column Start-->
            <div class="col-lg-6 skills">
                <div class="subheading">
                    <h3 style="background:blue; ">Programming Language</h3>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Python</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="90">
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Java</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="82">
                            <div class="progress-value">82%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">JavaScript</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="94">
                            <div class="progress-value">94%</div>
                        </div>
                    </div>
                </div>
                 <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Dart</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="80">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
                </div>
                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">C#</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="80">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
                </div>
                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">PHP</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="75">
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
                </div>
                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Kotlin</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="70">
                            <div class="progress-value">70%</div>
                        </div>
                    </div>
                </div>
                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">SQL</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="86">
                            <div class="progress-value">86%</div>
                        </div>
                    </div>
                </div>
                <div class="subheading">
                    <h3 style="background:blue; ">Design & Documentation Skills</h3>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">UML Design</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="77">
                            <div class="progress-value">77%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Application Design & Documentation</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="75">
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Figma</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="94">
                            <div class="progress-value">94%</div>
                        </div>
                    </div>
                </div>
                 <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Canva</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="80">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
                </div>
                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Agile Methdology</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="88">
                            <div class="progress-value">88%</div>
                        </div>
                    </div>
                </div>
                <div class="subheading">
                    <h3 style="background:blue; "> Databases Skills</h3>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Firebase</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="87">
                            <div class="progress-value">87%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">MySQL</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="75">
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
                </div>

                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Oracle</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="94">
                            <div class="progress-value">94%</div>
                        </div>
                    </div>
                </div>
                 <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Postgres SQL</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="80">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
                </div>
                <!--Design Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">MongoDB</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="66">
                            <div class="progress-value">66%</div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--Design Skills Column End-->

            <!--Coding Skills Column Start-->
            <div class="col-lg-6 skills">
                <div class="subheading">
                    <h3 style="background:blue; ">Web Development</h3>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">HTML5</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="83">
                            <div class="progress-value">83%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">CSS3</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="75">
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Bootstrap5</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">React.js</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="80">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">JQuery</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="60">
                            <div class="progress-value">60%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">TailWind CSS</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="65">
                            <div class="progress-value">65%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Git & Github</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <div class="subheading">
                    <h3 style="background:blue; ">FrameWork & Library</h3>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Django</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="83">
                            <div class="progress-value">83%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Java Spring</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="75">
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Spring Boot</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Hibernate</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="80">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Android Studio</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="60">
                            <div class="progress-value">60%</div>
                        </div>
                    </div>
                </div>

                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">.NET+ADO.NET && ASP.NET</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="65">
                            <div class="progress-value">65%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Swing & JavaFX</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Flutter</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Flask</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Pandas</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Numpy</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Tabulae</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Advance Excel</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Node.js</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Express.js</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">React.js</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Angular.js</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>
                <!--Coding Skill Item-->
                <div class="skill-item">
                    <h4 class="progress-title">Laravel</h4>
                    <div class="progress">
                        <div class="progress-bar" data-progress-value="92">
                            <div class="progress-value">92%</div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Coding Skills Column End-->

        </div>
        

        <!--Skills Row End-->
    </div>
</section>